</head>
<body>
  <nav>
		<i class="fa-solid fa-plane-departure"></i>
    <a 
      href="/flights/new" 
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights" 
    >
      ALL FLIGHTS
    </a>
    <a 
      href="/meals" 
    >
      ADD MEALS
    </a>
  </nav>